.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  background-color: rgb(216, 216, 216);
}
.contener {
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  min-height: 60vh;
}
.part1 {
  position: relative;
  min-width: 27rem;
}

.part1 img {
  position: relative;
  border-radius: 1vw;
  margin-top: 0.5rem;
  z-index: 1;
}

.ImgFundo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.671);
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  top: 30%; /* posicione como preferir */
  left: 18%;
  z-index: 0;
}

.voltar {
  text-decoration: none;
  background-color: rgb(59, 59, 59);
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 9px;
  height: 1.8rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part2 {
  width: 27rem;
}
.part2 h1 {
  margin-bottom: 2rem;
}

.HubElements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 3.5rem));
  justify-content: left; /* Centraliza as colunas */
  gap: 1rem; /* Gap fixo */
  width: 100%;
}
